[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.log
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc
*.vspscc
*.cscfg
*.csdef
*.cstg

.vs/

*.nupkg
*.snk
[Pp]ackages/
.vscode/

.idea/

.dotnet/
.templateengine/

*.mdf
*.ldf

app_data/
diagnostics/

[Pp]ublish/
wwwroot/lib/ # If you manage client-side libraries with npm/yarn and rebuild them

TestResults/
*.trx

node_modules/
npm-debug.log
yarn-error.log

.editorconfig

appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.json.user
web.config.user

.DS_Store
*.swp
._*

.history/

Assignment/wwwroot/Uploads/**
!Assignment/wwwroot/Uploads/.gitkeep
!Assignment/wwwroot/Uploads/

Assignment/wwwroot/Bills/**
!Assignment/wwwroot/Bills/.gitkeep
!Assignment/wwwroot/Bills/