@{

    ViewData["Title"] = "Quên mật khẩu";
    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <script>
            location.href = '@Url.Action("Index", "Home")';
        </script>
        return;
    }
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg p-4">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Yêu cầu đặt lại mật khẩu</h2>
                    <div class="row">
                        <div>
                            <div class="mb-3">
                                <label for="fp_email" class="form-label">Địa chỉ email</label>
                                <input type="email" class="form-control" id="fp_email" placeholder="Nhập địa địa chỉ email của bạn" required>
                            </div>
                            <button class="btn btn-warning w-100 py-2" onclick="ForgotPassword()">Yêu cầu đặt lại mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/forgotPassword.js"></script>